.sectOne
    padding-bottom: 100px
    .container
        margin-top: 170px
        .row
            div
                &:first-of-type
                    display: flex
                    flex-direction: column
                    h1
                        color: #484848
                        font-size: 55px
                        &:nth-of-type(2)
                            margin-bottom: 20px            
                    span
                        color: #AAAAAA
                        font-size: 30px
                &:nth-of-type(2)
                    span
                        font-size: 20px
                        color: #474646
                        &:nth-of-type(2)
                            margin-top: 30px
.sectTwo
    background-color: #F6F6F6
    padding: 100px 0
    h1
        color: #484848
        font-size: 65px
    h2
        color: #AAAAAA
        font-weight: normal
        margin-bottom: 80px
    .divCards
        display: flex
        justify-content: center
        .card
            padding: 0
            margin: 30px
            img
                height: 500px
                width: 600px
            .card-body
                padding: 40px
                p
                    font-size: 20px
                    font-weight: bold
                    color:#484848
    .divBtns
        .btn
            font-size: 25px
            font-weight: bold
            padding: 15px 50px
            margin: 30px 10px
.sectThree
    padding: 150px 210px
    .interieur  
        h1
            font-size: 50px
            color: #484848
        h2
            color: #B2AAAA
            font-weight: normal
            margin-bottom: 80px
    .rowski
        display: flex
        .shloob
            display: flex
            .shloobL
                text-align: right
                h4
                    color: #484848
                h5
                    color: #AAAAAA
                    font-weight: normal
                span
                    font-size: 20px
                    color: #66667F
            .shloobR
                img
                    border: 8px solid #E3E3E3
                    border-radius: 100%
                    height: 200px
                    margin: 0 50px 40px 30px
        .skeet
            display: flex
            .skeetL
                text-align: left
                order: 2
                h4
                    color: #484848
                h5
                    color: #AAAAAA
                    font-weight: normal
                span
                    font-size: 20px
                    color: #66667F
            .skeetR
                order: 1
                img
                    border: 8px solid #E3E3E3
                    border-radius: 100%
                    height: 200px
                    margin: 0 30px 0 0
.sectFour
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/banner.jpg) fixed
    -webkit-background-size: cover
    -moz-background-size:  cover
    -o-background-size: cover
    background-size: cover
    padding: 100px 0
    h1
        color: white
        font-size: 60px
        margin-bottom: 40px
    h2
        color: #AAAAAA
        margin-bottom: 70px
    .btn
        font-size: 25px
        font-weight: bold
        padding: 15px 50px

@media screen and (min-width: 375px) and (max-width: 767px)
    .sectOne
        .container
            .row
                div
                    span
                        &:nth-of-type(2)
                            margin-bottom: 50px
    .sectTwo
        .divCards
            .card
                img
                    width: 313px
                    height: 230px
    .sectThree
        padding: 100px 0 100px 20px
        .interieur
            .rowski
                flex-direction: column
                .shloob
                    flex-direction: column
                    .shloobL
                        order: 2
                        text-align: left
                        span
                            font-size: 15px
                    .shloobR
                        order: 1
                        img
                            margin: 50px 0 50px 0
                .skeet
                    flex-direction: column
                    .skeetL
                        span
                            font-size: 15px
                    .skeetR
                        img
                            margin: 50px 0 50px 0
                        
@media screen and (min-width: 768px) and (max-width: 1023px)
    .sectOne
        .container
            .row
                div
                    span
                        &:nth-of-type(2)
                            margin-bottom: 50px
                            
    .sectThree
        padding: 100px 0 100px 20px
        .interieur
            .rowski
                flex-direction: column
                .shloob
                    flex-direction: column
                    .shloobL
                        order: 2
                        text-align: left
                        span
                            font-size: 15px
                    .shloobR
                        order: 1
                        img
                            margin: 50px 0 50px 0
                .skeet
                    flex-direction: column
                    .skeetL
                        span
                            font-size: 15px
                    .skeetR
                        img
                            margin: 50px 0 50px 0





                        